node_modules
.git
.DS_Store
.env
.factory
dist
packages/*/dist
packages/server/src/*.js
packages/server/src/*.js.map
packages/server/src/*.d.ts
packages/server/src/*.d.ts.map
packages/server/prisma/*.js
packages/server/prisma/*.js.map
packages/server/prisma/*.d.ts
packages/server/prisma/*.d.ts.map
.tmp
