docs/legacy
node_modules
dist
.env
.DS_Store
!packages/server/prisma/.env
.tmp/*
!.tmp/.gitkeep
playwright-report
test-results
packages/server/src/*.js
packages/server/src/*.js.map
packages/server/src/*.d.ts
packages/server/src/*.d.ts.map
packages/server/prisma/*.js
packages/server/prisma/*.js.map
packages/server/prisma/*.d.ts
packages/server/prisma/*.d.ts.map
